<div class="container">
    <h2>Información de Perfil</h2>
    <div class="profile-info-card">
      <div class="profile-info-left">
        <label for="name">Nombre:</label>
        <input id="name" type="text" value="{{ currentUser.name}}" readonly>
        
        <label for="phone">Teléfono:</label>
        <input id="phone" type="text" value="{{ currentUser.telefono}}" readonly>
        
        <label for="email">Correo:</label>
        <input id="email" type="email" value="{{ currentUser.email}}" readonly>
      </div>
      
      <div class="profile-info-right">
        
        <label for="membership-type">Tipo de Membresía:</label>
        <input id="membership-type" type="text" value="Individual" readonly>
        
        <label for="days-remaining">Días restantes:</label>
        <input id="days-remaining" type="text" value="30" readonly>

        <button class="renew-button"(click)="canjear()">Canjear codigo</button>
        <button class="renew-button"(click)="changePassword()">Cambiar contraseña</button>
        
      </div>
    </div>
    
  </div>
  
