<div class="container">
    <br>
    <h1>Bienvenido a Gymbros: <br> Tu destino Fitness</h1>
    <div class="content">
    <div class="info-section">
        <div class="info-card">
            <h1>Nos ubicamos en:</h1>
            <p>Blvrd México 922, Latinoamericano</p>
            <p>27277 Torreón, Coah.</p>
            <br>
            <h1>Horarios</h1>
            <p>Lunes - Viernes: 6am - 10pm</p>
            <p>Sábado - Domingo: 8am - 8pm</p>
            <p></p>
        </div>
        <div class="info-card">
            <h1>Unete a la comunidad</h1>
            <img src="../../assets/img/mision.jpg" alt="Mision/Vision">
        </div>
    </div>

    <div class="info-section">
        <div class="info-card2">
            <h1>Nuestra Misión</h1>
            <p>En Gymbros, nuestra misión es inspirar y empoderar a nuestra comunidad para que adopte un estilo de vida más saludable y activo. Nos comprometemos a proporcionar un entorno motivador y de apoyo, donde cada miembro pueda superar sus límites y descubrir su verdadero potencial.
                <br><br>
                Fomentamos un sentido de comunidad y camaradería, promoviendo el bienestar integral y participando en iniciativas locales. En Gymbros, queremos que nuestros miembros se sientan bien, empoderados y llenos de energía para afrontar cada día con entusiasmo y confianza.</p>
        </div>
        <div class="info-card2">
            <h1>Nuestra Visión</h1>
            <p>En Gymbros, aspiramos a ser líderes en la promoción de un estilo de vida saludable y activo en nuestra comunidad. Queremos ofrecer servicios de fitness y bienestar de la más alta calidad, innovando continuamente y adaptándonos a las necesidades de nuestros miembros.
                <br><br>
                Visualizamos una comunidad unida y solidaria, donde cada persona se sienta valorada y motivada. Nuestro objetivo es impactar positivamente la vida de nuestros miembros y ser un ejemplo de sostenibilidad y responsabilidad ambiental.
                <br><br>
                Buscamos crecer y expandir nuestra filosofía, llevando los valores de Gymbros a más personas y comunidades, para crear un mundo más saludable y activo.</p>
        </div>
    </div>

    <div class="info-section">
        <div class="full-width-card">
            <h1>¿Porqué elegirnos?</h1>
            <ul>
                <li>Instalaciones de Primera Clase: Equipos de última tecnología y áreas especializadas para el entrenamiento de fuerza y cardiovascular.</li>
                <li>Entrenadores Expertos: Certificados y experimentados, ofrecen planes personalizados y orientación profesional.</li>
                <li>Flexibilidad y Comodidad: Horarios flexibles y opciones de membresía versátiles.</li>
                <li>Compromiso con la Salud y Seguridad: Protocolos estrictos de limpieza y medidas de seguridad.</li>
                <li>Ambiente Motivador: Comunidad positiva que apoya e inspira a alcanzar las metas.</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <br>
        <h1>Galeria</h1>
        <div class="gallery">
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/cardio.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/estiramove.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/pesos libres.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/fitness.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
        </div>
    </div>
</div>

</div>
<footer class="footer">
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="../../assets/img/logo.jpg" alt="Logo">
      </div>
      <p>© 2024 Gymbros. Todos los derechos reservados</p>
    </div>
  </footer>
