<div class="container">
    <br>
    <h1>Bienvenido a Gymbros: <br> Tu destino Fitness</h1>
    <div class="content">
    <div class="info-section">
        <div class="info-card">
            <h1>Ubicación</h1>
            <p>123 Main St, Anytown USA</p>
            <p>Conveniently located in the heart of the city.</p>
            <br>
            <h1>Horarios</h1>
            <p>Lunes - Viernes: 6am - 10pm</p>
            <p>Sábado - Domingo: 8am - 8pm</p>
            <p></p>
        </div>
        <div class="info-card">
            <img src="../../assets/img/gym.jpg" alt="Mapa de Ubicación">
        </div>
    </div>

    <div class="info-section">
        <div class="info-card">
            <h1>Misión</h1>
            <p>Inspirar y empoderar a nuestra comunidad para que viva una vida más saludable y activa.</p>
            <img src="../../assets/img/gym.jpg" alt="Mapa de Ubicación">
        </div>
        <div class="info-card">
            <h1>Visión</h1>
            <p>Ser el principal destino de fitness en nuestra ciudad, brindando instalaciones de clase mundial y un servicio excepcional.</p>
            <img src="../../assets/img/gym.jpg" alt="Mapa de Ubicación">
        </div>
    </div>

    <div class="info-section">
        <div class="full-width-card">
            <h1>¿Porqué elegirnos?</h1>
            <ul>
                <li>Instalaciones de Primera Clase: Equipos de última tecnología y áreas especializadas para el entrenamiento de fuerza y cardiovascular.</li>
                <li>Entrenadores Expertos: Certificados y experimentados, ofrecen planes personalizados y orientación profesional.</li>
                <li>Flexibilidad y Comodidad: Horarios flexibles y opciones de membresía versátiles.</li>
                <li>Compromiso con la Salud y Seguridad: Protocolos estrictos de limpieza y medidas de seguridad.</li>
                <li>Ambiente Motivador: Comunidad positiva que apoya e inspira a alcanzar las metas.</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <br>
        <h1>Galeria</h1>
        <div class="gallery">
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
            <div class="gallery-item"><img src="../../assets/img/gym.jpg" alt="Imagen 1"></div>
        </div>
    </div>
</div>

</div>
