<h1 mat-dialog-title>Actualizar Producto</h1>
<div mat-dialog-content>
  <form [formGroup]="updatePdctForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="product_name">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Precio</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Stock</mat-label>
        <input matInput formControlName="stock">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-label>Descuento</mat-label>
        <input matInput formControlName="discount">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Activo</mat-label>
        <mat-select formControlName="active">
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </form>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-flat-button mat-dialog-close (click)="onClose()" class="cancel-button mat-warn">Cancelar</button>
  <button mat-flat-button (click)="onSubmit()" class="update-button color">Actualizar</button>
</div>
