body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }
  
  
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    box-sizing: border-box; /* Incluye padding en el ancho total */
  }
  
  .left-nav,
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar .logo {
    height: 40px;
    margin-right: 20px; /* Espacio entre el logo y los links */
    border-radius: 50%;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0; /* Asegura que no haya margen extra */
    align-items: center; /* Alinea los items verticalmente */
  }
  
  .navbar .nav-links a,
  .navbar .login-btn {
    display: flex;
    align-items: center;
    height: 40px; /* Asegura que todos los elementos tengan la misma altura */
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Asegura que los elementos tengan un padding consistente */
  }
  
  .navbar .login-btn {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar .login-btn:hover {
    background-color: #555;
  }
  
  /* Asegúrate de que los elementos <a> estén centrados horizontalmente */
  .navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: center; /* Esto centra los elementos horizontalmente */
  }
  
  .left-nav {
    flex: 1;
  }
  
  .right-nav {
    justify-content: flex-end; /* Mantiene los elementos de la derecha alineados a la derecha */
  }

  .pointer{
    cursor: pointer;
  }