<div class="container">
<nav class="navbar">
    <div class="left-nav">
      <img src="../../assets/img/logo.jpg" alt="Logo" class="logo">
      <ul class="nav-links">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Entrenadores</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Membresías</a></li>
      </ul>
    </div>
    <div class="right-nav">
      <div *ngIf="loged">
        <ul class="nav-links">
          <li><a href="">{{ currentUser.name }}</a></li>
          <li><button mat-icon-button (click)="logOut()" class="login-btn"><mat-icon>exit_to_app</mat-icon></button></li>
        </ul>
      </div>
      <div *ngIf="!loged">
        <button class="login-btn">Iniciar sesión</button>
      </div>
    </div>
  </nav>
</div>