<div class="container">
<nav class="navbar">
    <div class="left-nav">
      <img src="../../assets/img/logo.jpg" alt="Logo" class="logo">
      <ul class="nav-links">
        <li><a routerLink="home">Inicio</a></li>
        <li><a routerLink="entre">Entrenadores</a></li>
        <li><a routerLink="productos">Productos</a></li>
        <li><a routerLink="membresias">Membresías</a></li>
      </ul>
    </div>
    <div class="right-nav">
      <div *ngIf="loged">
        <ul class="nav-links">
          <li *ngIf="currentUser.rol === 'Admin'"><a class="pointer" (click)="navegacion()">{{ currentUser.name }}</a></li>
          <li *ngIf="currentUser.rol !== 'Admin'"><a routerLink="perfil">{{ currentUser.name }}</a></li>
          <li><button mat-icon-button (click)="logOut()" class="login-btn" ><mat-icon>exit_to_app</mat-icon></button></li>
        </ul>
      </div>
      <div *ngIf="!loged">
        <a routerLink=""><button class="login-btn">Iniciar sesión</button></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>