<h1 mat-dialog-title>Registrar Membresía</h1>
<div mat-dialog-content>
  <form [formGroup]="addMbmForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="membership_type">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duración</mat-label>
      <input matInput formControlName="duration_days">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tamaño</mat-label>
      <input matInput formControlName="size">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Activo</mat-label>
        <mat-select formControlName="active">
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Beneficios</mat-label>
      <input matInput formControlName="benefits">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onClose()">Cancelar</button>
    <button mat-button color="primary" (click)="onSubmit()">Registrar</button>
</div>
