/* app.component.css */
table {
    width: 100%;
  }
  
  th.mat-header-cell, td.mat-cell {
    padding: 16px;
  }
  
  mat-paginator {
    margin-top: 20px;
  }
  
  button {
    margin-right: 8px;
  }
  
  .mat-icon-button {
    padding: 0;
  }
  
  .mat-header-cell, .mat-cell {
    text-align: center;
  }
  
  .header {
    display: flex; /* Usa flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .header h1 {
    margin-right: auto; /* Empuja el h1 hacia la izquierda */
  }

  /* Ajusta el estilo del h1 para que el texto se corte */
h1 {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se corta */
}
  

.form-field {
    width: 45%;
  }

  .form-container {
    display: flex;
    gap: 16px; /* Ajusta el espacio entre los selects según sea necesario */
  }