  <div class="container">

    <h2>Contamos con los mejores entrenadores</h2>

    <div class="trainers-grid">
      <div class="trainer-card">
        <div class="trainer-info">
          <h3>“Nombre de entrenador”</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis qui eius temporibus, enim iste iure libero ducimus voluptate. Iusto sunt error est modi eveniet sint dolores hic exercitationem sequi in.</p>
        </div>
        <div class="trainer-image">
          <img src="../../assets/img/gym.jpg" alt="Trainer">
        </div>
      </div>

      <!-- Puedes duplicar el div trainer-card para más entrenadores -->
      <div class="trainer-card">
        <div class="trainer-info">
          <h3>“Nombre de entrenador”</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc...</p>
        </div>
        <div class="trainer-image">
          <img src="../../assets/img/trainer.jpg" alt="Trainer">
        </div>
      </div>

      <div class="trainer-card">
        <div class="trainer-info">
          <h3>“Nombre de entrenador”</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc...</p>
        </div>
        <div class="trainer-image">
          <img src="../../assets/img/trainer.jpg" alt="Trainer">
        </div>
      </div>

      <div class="trainer-card">
        <div class="trainer-info">
          <h3>“Nombre de entrenador”</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc...</p>
        </div>
        <div class="trainer-image">
          <img src="../../assets/img/trainer.jpg" alt="Trainer">
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="../../assets/img/logo.jpg" alt="Logo">
      </div>
      <p>© 2024 Gymbros. Todos los derechos reservados</p>
    </div>
  </footer>
