body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  font-size: 1.2em;
  outline: none;
}

.search-button {
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-left: none;
  padding: 6px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.content {
  background-color: F5F5F5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
}

.membresias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.membresia-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  cursor: pointer;
}

.membresia-image img {
  width: 75%;
  height: auto;
  margin-left: 12.5%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 8px;
}

.membresia-info {
  text-align: center;
  margin-top: 10px;
}

.membresia-info h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.membresia-info .precio {
  font-size: 1.5em;
  color: #e67e22;
  font-weight: bold;
}

.swal-title-class {
  font-size: 24px;
}

.swal-html-class {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swal-html-class img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.swal-html-class div {
  text-align: left;
}

.swal-html-class p {
  font-size: 16px;
  margin-bottom: 10px;
}

.swal-html-class .price {
  font-size: 20px;
  font-weight: bold;
  color: #e74c3c;
}