<div class="container">
    <div class="content">
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="search()">
        <button *ngIf="searchTerm.length === 0" class="search-button"><mat-icon>search</mat-icon></button>
        <button (click)="borrar()" *ngIf="searchTerm.length !== 0" class="search-button" ><mat-icon>cancel</mat-icon></button>
      </div>
      <div class="membresias">
        <div *ngFor="let membre of membership" class="membresia-card" (click)="showMemberDetails(membre)">
          <div class="membresia-image">
            <img *ngIf="membre.product_image_path" src="{{imgurl + membre.product_image_path}}" style="width: 80%;">
            <img *ngIf="!membre.product_image_path" src="../../assets/img/logo.jpg" style="width: 80%;">
          </div>
          <div class="membresia-info">
            <h3>{{membre.product_name}}</h3>
            <p class="precio">${{membre.price}} MXN</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="../../assets/img/logo.jpg" alt="Logo">
      </div>
      <p>© 2024 Gymbros. Todos los derechos reservados</p>
    </div>
  </footer>