<div class="container">
    <br>
    <h1>Contamos con diferentes áreas:</h1>
    <div class="content">
        <div class="info-section">
            <div class="info-card">
                <h2>Cardio</h2>
                <img src="../../assets/img/gym.jpg" alt="Cardio">
                <p>Nuestro equipo cardiovascular de última generación, que incluye cintas de correr, máquinas elípticas y bicicletas estáticas, lo ayudará a alcanzar sus objetivos cardiovasculares.</p>
            </div>
            <div class="info-card">
                <h2>Fitness Funcional</h2>
                <img src="../../assets/img/gym.jpg" alt="Cardio">
                <p>Nuestra área de fitness funcional está equipada con una variedad de equipos y herramientas para ayudarle a mejorar su fuerza, equilibrio y movilidad en general.</p>
            </div>
        </div>
        <div class="info-section">
            <div class="info-card">
                <h2>Pesos Libres</h2>
                <img src="../../assets/img/gym.jpg" alt="Cardio">
                <p>Nuestra área de pesas libres cuenta con una amplia gama de mancuernas, barras y otros equipos para ayudarlo a desarrollar fuerza y músculo.</p>
            </div>
            <div class="info-card">
                <h2>Estiramiento y Movilidad</h2>
                <img src="../../assets/img/gym.jpg" alt="Cardio">
                <p>Nuestra área exclusiva de estiramiento y movilidad brinda un espacio tranquilo para que usted pueda concentrarse en mejorar su flexibilidad y rango de movimiento.</p>
            </div>
        </div>
    </div>
</div>