<div class="header">
    <h1>Ordenes</h1>
  </div>

  <form [formGroup]="dateForm" (ngSubmit)="getOrd()" class="date-form">
    <mat-form-field class="date-input">
      <mat-label>First Date</mat-label>
      <input matInput [matDatepicker]="firstDatepicker" formControlName="firstDate">
      <mat-datepicker-toggle matSuffix [for]="firstDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #firstDatepicker></mat-datepicker>
      <mat-error *ngIf="dateForm.get('firstDate')?.hasError('required')">
        Fecha inicial es requerida
      </mat-error>
      <mat-error *ngIf="dateForm.get('firstDate')?.hasError('dateRange')">
        Fecha final debe ser mayor o igual a la fecha inicial
      </mat-error>
    </mat-form-field>

    <mat-form-field class="date-input">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endDatepicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatepicker></mat-datepicker>
      <mat-error *ngIf="dateForm.get('endDate')?.hasError('required')">
        Fecha final es requerida
      </mat-error>
      <mat-error *ngIf="dateForm.get('endDate')?.hasError('dateRange')">
        Fecha final debe ser mayor o igual a la fecha inicial
      </mat-error>
    </mat-form-field>

    <button mat-icon-button type="submit" [disabled]="dateForm.invalid">
      <mat-icon>search</mat-icon>
    </button>
  </form>  

  <br>
  
  <table mat-table [dataSource]="dataSource" matTableFilter>
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header matSort>ID Orden</th>
      <td mat-cell *matCellDef="let o"><button (click)="details(o)" class="detailButton">{{ o.id }}</button></td>
    </ng-container>
  
    <ng-container matColumnDef="user_id">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Usuario</th>
      <td mat-cell *matCellDef="let o">{{ o.user_id ? o.user_id : 'N/A' }}</td>
    </ng-container>
  
    <ng-container matColumnDef="order_date">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Fecha de Orden</th>
      <td mat-cell *matCellDef="let o">{{ o.order_date }}</td>
    </ng-container>

    <ng-container matColumnDef="total_amount">
    <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Total de Orden</th>
    <td mat-cell *matCellDef="let o">{{ o.total_amount }}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Estado</th>
      <td mat-cell *matCellDef="let o">{{ o.estado }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let o">
        <button *ngIf="o.estado !== 'Cancelada'" mat-icon-button color="accent" (click)="editOrd(o)">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="myColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: myColumns;"></tr>
  </table>
  
  <mat-paginator [pageSize]="8" showFirstLastButtons></mat-paginator>  