<div class="header">
    <h1>Empleados</h1>
  </div>
  
  <table mat-table [dataSource]="dataSource" matTableFilter>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>ID</th>
      <td mat-cell *matCellDef="let employee">{{ employee.id }}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Nombre</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Teléfono</th>
      <td mat-cell *matCellDef="let employee">{{ employee.phone_number }}</td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Correo</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <ng-container matColumnDef="rol_name">
      <th mat-header-cell *matHeaderCellDef mat-table-filter-header>Rol</th>
      <td mat-cell *matCellDef="let employee">{{ employee.rol_name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let employee">
        <button *ngIf="currentUser.id !== employee.id" mat-icon-button class="primary" (click)="editUser(employee)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="currentUser.id !== employee.id" mat-icon-button class="warn" (click)="deleteUser(employee)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="myColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: myColumns;"></tr>
  </table>
  
  <mat-paginator [pageSize]="8" showFirstLastButtons></mat-paginator>
  