  <div class="container">

    <div class="inicio-card">
        <div class="inicio-content">
          <h1>Bienvenidos a <br>Gymbros</h1>
          <p>Experimente las mejores instalaciones de fitness y la orientación experta para alcanzar sus objetivos de fitness.</p>
          <div class="inicio-buttons">
              <button (click)="goEspacios()" class="inicio-buttons btn btn-secondary">Leer más</button>
          </div>
        </div>
        <div class="inicio-image">
          <img src="../../assets/img/gym.jpg" alt="Gym Image">
        </div>
      </div>

      <div class="content">
        <h2>Contamos con los mejores servicios en:</h2>
        
        <div class="service-grid">
            <div class="service-card">
            <div class="service-info">
              <mat-icon>healing</mat-icon>
                <h3>Variedad de areas de ejercicios</h3>
                <p>En nuestro gimnasio contamos con una variedad de aareas deportivas desde para hacer levantamientos pesados como el calentar antes de entrenar.</p>
            </div>
            <div class="service-btn">
                <button (click)="goNosotros()" class="btn btn-primary">Ir a</button>
            </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                  <mat-icon>how_to_reg</mat-icon>
                <h3>Membresias disponibles</h3>
                <p>Contamos con un sistema de membresias de varias categorias para nuestros clientes mas fieles.</p>
                </div>
                <div class="service-btn">
                <button (click)="goMembres()" class="btn btn-primary">Ir a</button>
                </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                  <mat-icon>add_shopping_cart</mat-icon>
                <h3>Venta de Productos</h3>
                <p>En nuestras instalaciones contamos con un sistema de venta de productos para que pueda complementar sus entrenamientos.</p>
                </div>
                <div class="service-btn">
                <button (click)="goProducts()" class="btn btn-primary">Ir a</button>
                </div>
            </div>
    
        </div>
      </div>

      <div class="content">
        <h2>Contamos con los productos necesarios para tu progreso</h2>
        <div class="productos">
          <div *ngFor="let producto of productos | slice:0:3" class="producto-card" (click)="showProductDetails(producto)">
            <div class="producto-image">
              <img src="{{ imgurl + producto.product_image_path }}" alt="Proteina Whey">
            </div>
            <div class="producto-info">
              <h3>{{ producto.product_name }}</h3>
              <p class="precio">${{ producto.price }} MXN</p>
            </div>
          </div>
        </div>
        
    
      </div>

      <div class="content">
        <h2>Información</h2>
        <div class="info-columns">
          <div class="info-column">
            <h4>Visítanos en:</h4>
            <p>Blvrd México 922, Latinoamericano</p>
            <p>27277 Torreón, Coah.</p>
          </div>
          <div class="info-column">
            <h4>Horarios:</h4>
            <p>Lunes - Viernes: 6am - 10pm</p>
            <p>Sábado - Domingo: 8am - 8pm</p>
          </div>
          <div class="info-column">
            <h4>Más Información:</h4>
            <p>Tel: 8710000000</p>
            <p>Email: gymbrosgmail.com</p>
          </div>
        </div>
      </div>
  </div>
  <footer class="footer">
    <div class="footer-bottom">
      <div class="footer-logo">
        <img src="../../assets/img/logo.jpg" alt="Logo">
      </div>
      <p>© 2024 Gymbros. Todos los derechos reservados</p>
    </div>
  </footer>

