  <div class="container">

    <div class="inicio-card">
        <div class="inicio-content">
          <h1>Bienvenidos a <br>Gymbros</h1>
          <p>Experimente las mejores instalaciones de fitness y la orientación experta para alcanzar sus objetivos de fitness.</p>
          <div class="inicio-buttons">
            <button class="btn btn-primary">Iniciar sesión</button>
            <button class="btn btn-secondary">Leer más</button>
          </div>
        </div>
        <div class="inicio-image">
          <img src="../../assets/img/gym.jpg" alt="Gym Image">
        </div>
      </div>

      <div class="content">
        <h2>Contamos con los mejores servicios en:</h2>
        
        <div class="service-grid">
            <div class="service-card">
            <div class="service-info">
                <h3>Entrenamiento <br>Personal</h3>
                <p>Obtenga orientación
                    personalizada de nuestros entrenadores experimentados para alcanzar sus objetivos de acondicionamiento físico.</p>
            </div>
            <div class="service-btn">
                <button class="btn btn-primary">Saber mas</button>
            </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                <h3>Membresias <br>disponibles</h3>
                <p>Contamos con un sistema de membresias de varias categorias para nuestros clientes mas fieles.</p>
                </div>
                <div class="service-btn">
                <button class="btn btn-primary">Saber mas</button>
                </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                <h3>Venta de <br>Productos</h3>
                <p>En nuestras instalaciones contamos con un sistema de venta de productos para que pueda complementar sus entrenamientos.</p>
                </div>
                <div class="service-btn">
                <button class="btn btn-primary">Saber mas</button>
                </div>
            </div>
    
        </div>
      </div>

      <div class="content">
        <h2>Contamos con los productos necesarios para tu progreso</h2>
        <div class="productos">
          <div class="producto-card">
            <div class="producto-image">
              <img src="../../assets/img/proteina.jpg" alt="Proteina Whey">
            </div>
            <div class="producto-info">
              <h3>Proteina Whey</h3>
              <p>¡Optimiza tu rendimiento con Proteína Whey Ultra Premium! Nuestra fórmula avanzada ...</p>
              <p class="precio">$949.99</p>
            </div>
          </div>
        
          <div class="producto-card">
            <div class="producto-image">
              <img src="../../assets/img/straps.png" alt="Cintas de Entrenamiento">
            </div>
            <div class="producto-info">
              <h3>Straps</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc...</p>
              <p class="precio">$199.99</p>
            </div>
          </div>
        
          <div class="producto-card">
            <div class="producto-image">
              <img src="../../assets/img/estera.jpg" alt="Proteina Whey">
            </div>
            <div class="producto-info">
              <h3>Estera de Yoga</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc...</p>
              <p class="precio">$94.99</p>
            </div>
          </div>
        </div>
        
    
      </div>

      <div class="content">
        <h2>Información</h2>
        <div class="info-columns">
          <div class="info-column">
            <h4>Visítanos en:</h4>
            <p>"Dirección del gimnasio"</p>
          </div>
          <div class="info-column">
            <h4>Horarios:</h4>
            <p>Lunes - Viernes: 6am - 10pm</p>
            <p>Sábado - Domingo: 8am - 8pm</p>
          </div>
          <div class="info-column">
            <h4>Más Información:</h4>
            <p>Tel: 8710000000</p>
            <p>Email: gymbrosgmail.com</p>
          </div>
        </div>
      </div>
    
      <footer class="footer">
        <div class="footer-bottom">
          <div class="footer-logo">
            <img src="../../assets/img/logo.jpg" alt="Logo">
          </div>
          <p>© 2024 Gymbros. Todos los derechos reservados</p>
        </div>
      </footer>
  </div>

