body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .inicio-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
  }
  
  .inicio-content {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .inicio-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .inicio-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .inicio-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #000;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #333;
  }
  
  .btn-secondary {
    background-color: #555;
    color: #fff;
  }
  
  .btn-secondary:hover {
    background-color: #777;
  }
  
  .inicio-image {
    flex: 1;
  }
  
  .inicio-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }


  h2 {
    text-align: center;
    margin: 20px 0;
  }

  .content{
    background-color: F5F5F5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
  }

  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  

  .service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }
  
  .service-info {
    flex: 2;
    padding-right: 20px;
    text-align: center;
  }
  

  .service-info h2 {
    font-style:normal;
    text-align: center;
    color: orange;
  }

  .productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .producto-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .producto-image img {
    width: 75%;
    height: auto;
    margin-left: 12.5%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .producto-info {
    text-align: center;
    margin-top: 10px;
  }
  
  .producto-info h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .producto-info .precio {
    font-size: 1.5em;
    color: #e67e22;
    font-weight: bold;
  }

  .swal-title-class {
    font-size: 24px;
  }
  
  .swal-html-class {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .swal-html-class img {
    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .swal-html-class div {
    text-align: left;
  }
  
  .swal-html-class p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .swal-html-class .price {
    font-size: 20px;
    font-weight: bold;
    color: #e74c3c;
  }


  .information h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .info-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .info-column {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }

  .info-column h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .info-column p {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0px;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .footer-section {
    flex: 1;
    margin: 0 10px;
  }

  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .footer-section p {
    font-size: 1em;
    margin-bottom: 5px;
  }

  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .footer-bottom p {
    margin: 0;
  }
  
  