<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gym Website</title>
</head>
<body>
  <div class="container">
    <nav class="navbar">
      <div class="left-nav">
        <img src="../../assets/img/logo.jpg" alt="Logo" class="logo">
        <ul class="nav-links">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Entrenadores</a></li>
          <li><a href="#">Productos</a></li>
          <li><a href="#">Membresías</a></li>
        </ul>
      </div>
      <button class="login-btn">Iniciar sesión</button>
    </nav>

    <div class="inicio-card">
        <div class="inicio-content">
          <h1>Bienvenidos a <br>Gymbros</h1>
          <p>Experimente las mejores instalaciones de fitness y la orientación experta para alcanzar sus objetivos de fitness.</p>
          <div class="inicio-buttons">
            <button class="btn btn-primary">Iniciar sesión</button>
            <button class="btn btn-secondary">Leer más</button>
          </div>
        </div>
        <div class="inicio-image">
          <img src="../../assets/img/gym.jpg" alt="Gym Image">
        </div>
      </div>

      <div class="services">
        <h2>Contamos con los mejores servicios en:</h2>
        
        <div class="service-grid">
            <div class="service-card">
            <div class="service-info">
                <h3>Entrenamiento <br>Personal</h3>
                <p>Obtenga orientación
                    personalizada de nuestros entrenadores experimentados para alcanzar sus objetivos de acondicionamiento físico.</p>
            </div>
            <div class="service-btn">
                <button class="btn btn-primary">Iniciar sesión</button>
            </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                <h3>Entrenamiento <br>Personal</h3>
                <p>Obtenga orientación
                    personalizada de nuestros entrenadores experimentados para alcanzar sus objetivos de acondicionamiento físico.</p>
                </div>
                <div class="service-btn">
                <button class="btn btn-primary">Iniciar sesión</button>
                </div>
            </div>
            <div class="service-card">
                <div class="service-info">
                <h3>Entrenamiento <br>Personal</h3>
                <p>Obtenga orientación
                    personalizada de nuestros entrenadores experimentados para alcanzar sus objetivos de acondicionamiento físico.</p>
                </div>
                <div class="service-btn">
                <button class="btn btn-primary">Iniciar sesión</button>
                </div>
            </div>
    
        </div>
      </div>

      <div class="products">
        <h2>Contamos con lo productos necesarios para tu progreso</h2>
        
        <div class="service-grid">
            <div class="service-card">
                <div class="trainer-image">
                    <img src="../../assets/img/gym.jpg" alt="Trainer">
                </div>
                <div class="service-info">
                    <h3>“Nombre de entrenador”</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis qui eius temporibus, enim iste iure libero ducimus voluptate. Iusto sunt error est modi eveniet sint dolores hic exercitationem sequi in.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="trainer-image">
                    <img src="../../assets/img/gym.jpg" alt="Trainer">
                </div>
                <div class="service-info">
                    <h3>“Nombre de entrenador”</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis qui eius temporibus, enim iste iure libero ducimus voluptate. Iusto sunt error est modi eveniet sint dolores hic exercitationem sequi in.</p>
                </div>
            </div>
            <div class="service-card">
                <div class="trainer-image">
                    <img src="../../assets/img/gym.jpg" alt="Trainer">
                </div>
                <div class="service-info">
                    <h3>“Nombre de entrenador”</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at interdum nunc. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis qui eius temporibus, enim iste iure libero ducimus voluptate. Iusto sunt error est modi eveniet sint dolores hic exercitationem sequi in.</p>
                </div>
            </div>
    
        </div>
      </div>

      
      

  </div>
</body>
</html>

